@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common utilities */
body{
    font-family: 'Poppins',sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e5e5;
}

.sub-container{
    width: 870px;
    height: 679px;
    margin: 130px auto;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
    padding: 30px 30px;
    background-color: #FFFFFF;
    /* display: flex; */
    /* justify-content: center; */
}

.top-txt{
    color: #562EFF;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 40px;
}

.parent-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 29px;
    padding: auto 30px;
    
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center; */


}

.player{
    display: flex;
    gap: 16px;
}

.player>img{
    height: 56px;
    width: 56px;
    border: 1px dashed #333;
    border-radius: 50%;
    align-items: center;
}