@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common utilities */
body{
    font-family: 'Poppins',sans-serif;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e5e5;
}

.sub-container{
    width: 870px;
    height: 679px;
    margin: 130px auto;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
    padding: 30px 30px;
    background-color: #FFFFFF;
    /* display: flex; */
    /* justify-content: center; */
}

.top-txt{
    color: #562EFF;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 30px;
}

.parent-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 29px;
    padding: auto 30px;
    
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center; */


}

.player{
    display: flex;
    gap: 16px;
}

.player>img{
    height: 56px;
    width: 56px;
    border: 1px dashed #333;
    border-radius: 50%;
    align-items: center;
}

/* top blogs css Utilities */

.blog>img{
    width: 177px;
    height: 117px;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 26px;
}

.blog{
    display: flex;
    align-items: center;
    gap: 16px;
}

/* .blog-info{
    height: 80px;
} */

.blog-info>h5{
    font-size: 20px;
    width: 120px;
    font-weight: 500;
    top: 0px;
    left: 0px;
    
    
}

.blog-info > p{
    font-size: 16px;
    padding-bottom: 20px;
    /* line-height: 24px; */
    /* line-height: 1; */
}

.blog-info > p a{
    text-decoration: none;
} 

/* course section css starts here */

.container-two{
    width: 870px;
    height: 362px;
    padding: 30px 30px;
    margin: 21px auto;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.latest-txt{
    color: #562EFF;
    font-size: 24px;
    font-weight: 900;
    
}

.subflex{
    width: 252.42px;
    height: 269.79px;
    border: 1px solid #e2e2e2;
    padding: 17px;
    border-radius: 8px;


}

.cover{
    width: 224px;
    height: 104px;
}

.checked{
    color: goldenrod;
}