@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* common utilities */
body{
    font-family: 'Poppins',sans-serif;
    background-color: #e5e5e5;
}

/*-----
 nav--- 
 section*/

nav{
    background-color: #562EFF;
    width: 1440px;
    height: 94px;
    display: flex;
    margin: auto 230px;
    justify-content: space-around;
}

.left-portion{
    display: flex;
    align-items: center;
    gap: 16px;
}

.right-portion > ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 36px;
    color: white;

}

nav > .left-portion h2{
    font-size: 24px;
    color: white;
}

nav > .right-portion > ul{
    list-style-type: none;
}

.brand{
    height: 51px;
    width: 40.42px;
}

.right-portion{
    display: flex;

}

/* main section css starts from here */

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #e5e5e5;
}

.sub-container{
    width: 870px;
    height: 679px;
    margin: 130px auto;
    border-radius: 10px;
    border: 1px solid #e2e2e2;
    padding: 30px 30px;
    background-color: #FFFFFF;
    /* display: flex; */
    /* justify-content: center; */
}

.top-txt{
    color: #562EFF;
    font-size: 24px;
    font-weight: 900;
    margin-bottom: 30px;
}

.parent-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 29px;
    padding: auto 30px;
    
    /* display: flex; */
    /* flex-direction: column;
    justify-content: center; */


}

.player{
    display: flex;
    gap: 16px;
}

.player>img{
    height: 56px;
    width: 56px;
    border: 1px dashed #333;
    border-radius: 50%;
    align-items: center;
}

/* top blogs css Utilities */

.blog>img{
    width: 177px;
    height: 117px;
}

.blogs{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    row-gap: 26px;
}

.blog{
    display: flex;
    align-items: center;
    gap: 16px;
}

/* .blog-info{
    height: 80px;
} */

.blog-info>h5{
    font-size: 20px;
    width: 120px;
    font-weight: 500;
    top: 0px;
    left: 0px;
    
    
}

.blog-info > p{
    font-size: 16px;
    padding-bottom: 20px;
    /* line-height: 24px; */
    /* line-height: 1; */
}

.blog-info > p a{
    text-decoration: none;
} 

/* course section css starts here */

.container-two{
    width: 870px;
    height: 362px;
    padding: 30px 30px;
    margin: 21px auto;
    border-radius: 10px;
    background-color: #FFFFFF;
}

.latest-txt{
    color: #562EFF;
    font-size: 24px;
    font-weight: 900;
    
}

.parent-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    column-gap: 20px;
}

.first-gen{
    width: 252.42px;
    height: 269.79px;
    border: 1px solid #e2e2e2;
    border-radius: 5px;
    padding: 11px;
}

.cover{
    height: 104px;
    width: 224px;
}

.stats{
    display: flex;
    align-items: center;
    gap: 10px;
    height: 11px;
}

.digit{
    color: #A2A2A2;
    font-size: 14.69px;
}

.dial{
    text-align: center;
    color: #FF4A60;
    font-size: 14.69px;
    width: 90px;
    height: 30px;
    
    border: 1px solid transparent;
    border-radius: 14.69px;
    background-color: #FFE4E8;
}


footer{
    width: 1440px;
    height: 300px;
    margin-top: 130px;
    background-color: black;
    display: grid;
   
}

.footer-parent-grid{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.childs > .fa-brands{
    color: white;
    padding-right: 10px;
    height: 25px;
    width: 25px;
}


form > .des{
    font-size: 14px;
    color: white;
    font-weight: 500;
}

form > input {
    border: 1px solid white;
    border-radius: 5px;
    padding: 10px 15px;
}